body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

#home, #location {
  background-image: url("../images/the-flatiron-building.png");
}

nav a {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#location h3 {
  color: white;
}

#footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

#footer a {
  color: white;
  font-size: 18px;
}

span {
  font-size: 11px;
}
