body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

h1, h2, h3 {
  font-weight: bold;
}

#home, #location {
  background-image: url("../images/the-flatiron-building.png");
}

nav a {
  font-size: 18px;
  color: white;
}

p {
  font-size: 14px;
}

#footer {
  background-color: dimgray;
  text-align: left;
}

#footer p {
  font-size: 11px;
}

h1, nav a, #location h3, #footer, #footer a {
  color: white;
}
